# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used Data Science tools
- Give examples of evaluating arithmetic expressions in Python
- Give examples of formatting text in Jupyter Notebook

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript
4. Scala
5. SQL
6. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy
6. SciKit-Learn
7. TensorFlow
8. Matplotlib

| Data Science Tools |
------
| Jupyter Notebook |
| Power BI |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [105]:
5 + 6

11

In [106]:
9 - 7

2

In [107]:
6 * 8

48

In [108]:
49 / 7

7.0

In [109]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [110]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hour = minutes / 60
print(hour)

3.3333333333333335

## Author
SC